body {margin: auto 0}
main {
    font-family: Arial, serif;
    padding: 2em;
    margin: 1em 2em;
    background-color: #ede9e1;
    border-radius: 2em;
}
h1, h2 {text-align: center;}
a {text-decoration: none;}
a:visited {
    text-decoration: none; /* Removes underline */
    color: inherit;        /* Ensures the link doesn't change color (optional) */
}
table {
    margin: 0 auto;
    border-collapse: collapse;
}
td {
    border: solid 1px black;
    text-align: center;
    background-color: white;
    padding: .5em;
}
#mainPageButtons, #generationOptionsButtons {text-align: center}
input[type=submit], #mainPageButtons a {
    padding: 5px;
    background:#ccc;
    border-radius: .5em;
}
