files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIICijCCAXICAQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUx
      ITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDCCASIwDQYJKoZIhvcN
      AQEBBQADggEPADCCAQoCggEBANEts3wosv1YrV1Mx9wDXWfdhkeM71ljxSNb9efv
      SEcn1YphTxLr/G1f/WD63JjzHITKN8HquHpisFtRj4cPJN3Ka+8/I/xI6cko+5NE
      r/dKnpazXlZLx9BG9/pO1AeZ/7kg0EELgBfoTCvBP7KvXKVieGEhy573uu17YE3U
      9/01uYUMMbQGLZkGQ002tL5GlgexbXkGuQJBERfUAZtdJGDNLNMT/qPDGdOdAKpY
      ZWqIleuHv3ChKA4an4EK+GIx8Lc04BJMXUzMhxRYONKaZwISUMrlksmMvKBE4omk
      UQNbg3wsc6QlyRlW8rr7aaP+a5jjgsqZ1RryWiR2pcM6obUCAwEAAaAAMA0GCSqG
      SIb3DQEBCwUAA4IBAQBlPuzH+1meg/Wy+DpMZaFf5FJa57XHnMAOL8VrvoF1uTxt
      Ibqcd2fLpKo+7/xEpIzIIEozSjoiAo+adwhN6F9d3XRDJpQaCl1PtikfOa3A6R4B
      oJEa3cJeZUYrLeH95o+E9iVcKJ4HUL3NJ4/2r8YMyi+Ojgj35htcElwn8oxZbWPH
      5mMDcLiYPQgOVXvrKOtC+sqOlr3AWsKaWd//DNR4ohynSReFgp+Z1U4NlAUYnRAD
      bE1nYfzRmAI2I0lOL19uTsXtUj8qgQhYljBcJLJSfBY4Z4FJzoJDOPtUvY/SgOM2
      /VsKOqK7JtluRO3jWCsht84+yktrPYvOWIq+BaIF
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEA0S2zfCiy/VitXUzH3ANdZ92GR4zvWWPFI1v15+9IRyfVimFP
      Euv8bV/9YPrcmPMchMo3weq4emKwW1GPhw8k3cpr7z8j/EjpySj7k0Sv90qelrNe
      VkvH0Eb3+k7UB5n/uSDQQQuAF+hMK8E/sq9cpWJ4YSHLnve67XtgTdT3/TW5hQwx
      tAYtmQZDTTa0vkaWB7FteQa5AkERF9QBm10kYM0s0xP+o8MZ050AqlhlaoiV64e/
      cKEoDhqfgQr4YjHwtzTgEkxdTMyHFFg40ppnAhJQyuWSyYy8oETiiaRRA1uDfCxz
      pCXJGVbyuvtpo/5rmOOCypnVGvJaJHalwzqhtQIDAQABAoIBAGo1hji4gYlZiU0i
      OyhfHQIr3I5f5PfCTMqTWtyVBmH6u9Yzam71G4p9fq3LMk8Gwag69OylPV4G1fzI
      ANRWwCVNLlif+qmSbAITqQkxixdI8BUcpf2zJJWAM1EIzWe+rbVWD+e26yc4b9SX
      nrwfhi8DPJQ1EKp6ppMGXfOm+vO5c8QTzqFvG/iLo2JguPPuu7CW9Kug+9yPVqJo
      pxyUcjml+HW0KsV8SAjq6Ba5lA26HV1CBSJYJWLAOo+vVCjIFRSSyeY/Ckr5UcfL
      UsGQzO3WmHNGBupztmBV88YrmznR5/FpKZbTdLSy0V/8jXIhqCwO2zkMSl+pkTu4
      ueGt1QECgYEA/F4Vr0jh0B19sV0+PHH1SGKO7wQ4fTjuKJGYja+Ro4waOHchz1/Y
      9rHda0E+fROWJRfDDAszwRe14jXhk0c/+fftyuhf4uJwRApYh+7VFVhC/T9rt3be
      BWK/SSqBTuDIu1xY/7P+4GIAhcQlX5eQQH63h+l7EQnmr4ybUXM760UCgYEA1DB5
      nLBmBhcQGDcGQubsVxj5dsYgL47E5b3IaXLkOR0jEypV0t9LXjTltBwAj2FkpWRn
      5uhDlXgHBphrAQflFiFp3iohxdMNifZLrjSlPAJ4Z+7Snqp1GjyI3DWg+2KCxCjt
      IA0Z7S1THfLSHrzzZb4DrEk6juwOlToTmcd9C7ECgYB3zBmzGX/IERfHiCGxA8+R
      yuda4sAGAW5cZ7DpITybTDhuMW8lR7RwdsJK1a/aI+AUP5FhODgbIyw986HfDeV6
      vYxt050g0KjGQ7r+3ArelQVHvkFd19lQ6S0wiDLVxLLE7fN5fnIxBZSF6zRqikH5
      u61XoSfAUNjm4HIiWfdJmQKBgERB270V2Zv360t+19rJohlahVU54ryptpkY9dFG
      Djh5MQFHSxhskDgb2BCaOWvmLpQtumbDLIp2c/whJ7rLKVx3HzFCaF7Ux7QrsKi3
      crfdK5JzdvlnaAgqlPQRpFl5lQs5Bx6aWE69l9E4fXM54SpHd7MCU34KXZ6PciKz
      03vhAoGAVMAbVyejzEukN7ECrB0MOkYgbxnpGYvXwnm0K7Dl3e7wNQgXkbwolj0O
      OHgwhHjMYDo6ZnId1O+iSEhSJXvbQGZEkIfxpPpyfM0wGJF+3vEGgrGGxjV9ufuW
      fCA2fA5FJ2b4WzIxk7FUwdpll/NNtfFTnhPPtcToJTOwxeyTJA8=
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart