files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE REQUEST-----
      MIIClDCCAXwCAQAwTzELMAkGA1UEBhMCdXMxCzAJBgNVBAgMAndpMRAwDgYDVQQH
      DAdtYWRpc29uMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggEi
      MA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC7Ptq9T38i0SOz0XPGTJQQnToc
      Yomwkp2P+wNqiY4rO841qaK5F3X2+CRxs+T8QgYyqQxMJdOPraKTkCETiDgizys6
      gk1YFbKWQxNL28FxilpKtWGUsFSedLnI365LRfD4h+ye3ZkwxHkm+5UKvcQv/Huw
      Z/jSdSpolqThc85lEwCSE68Qpu4IdLTZupAsfRtiN2NIWB5OGOnEby39gk+8SLgr
      YOrPABP4gLdCSKPND+VSeWAqZlDaj51/EU5asBQZVfF7vZnRC0Bt66mS8PB4RCMu
      kNJeu6zoi8VBHD6Om7tqOWvFUuMnqm6UjGMu49NOwNc+gpQSOCDaDVmbA9SLAgMB
      AAGgADANBgkqhkiG9w0BAQsFAAOCAQEAZxMF2+Ol0l/TbHu9OFZhvyFWnXN93K8+
      DN+fvApNkBQP9NNBd4tuNDjxocJoD7Mbi+xOg07T5ng9vVKBfsdjwVU8ygc8fWHJ
      1NtAXTK+cZSuh6QzWKPA0f0pO2Ucsbfdbeg3ipbDlg0K3vsVxY/r5Twnbgx7lIjO
      u5tpgvXcOssPVZgop1ba6imYsfCj0SNfPK34TiyU/J+5b5BJtay6e7RmQ8EcyirW
      1mPBEqB4cp7FCWOpALWLA9d8tgUM3g243nm+LVPTVRcRnBZc+gKKCySgUhExBTD1
      Weudn5YIvzrdY3rY6nzm3MA6lI3K9Ua9whoTGWYVOyVg1g2khi8O7w==
      -----END CERTIFICATE REQUEST-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC7Ptq9T38i0SOz
      0XPGTJQQnTocYomwkp2P+wNqiY4rO841qaK5F3X2+CRxs+T8QgYyqQxMJdOPraKT
      kCETiDgizys6gk1YFbKWQxNL28FxilpKtWGUsFSedLnI365LRfD4h+ye3ZkwxHkm
      +5UKvcQv/HuwZ/jSdSpolqThc85lEwCSE68Qpu4IdLTZupAsfRtiN2NIWB5OGOnE
      by39gk+8SLgrYOrPABP4gLdCSKPND+VSeWAqZlDaj51/EU5asBQZVfF7vZnRC0Bt
      66mS8PB4RCMukNJeu6zoi8VBHD6Om7tqOWvFUuMnqm6UjGMu49NOwNc+gpQSOCDa
      DVmbA9SLAgMBAAECggEABvYYwsYEV4KH/cTxNXOeY5m80dZWASMKSZKO93SCvRe9
      nGAgpRn6sEJcdH+4KSq5OUPwqZoUafiOHUdT+3pqf9zM4iF7B6XS3GRFAOJ8KCD5
      J2Lj7Fe75aI4UAAE5laE1XCUOvnJGreLO4hJ67rPYutTm+TZqtVhTL8hBSK9jyNb
      703DhrTo6ZRJ4fbMp3YoMSvGUWr2ezO/puPDsHFdfyIX45+nYabdX7MOxsTrS5gA
      BGj9KXDJlLPssI3fWamsBsixNjldyu2cubGxuamxi4+5E7MjRacZlLwukAaXu0S4
      A+XGL17FiLzl8ZQ50RngN1wMSBvd0WzzUVKd8LRpMQKBgQDfAU9LpPeQ4VntN8a4
      zMTStROP8MsaQqHdUl3UuUS/6A6zucdfPKVcw32IhXZtewko0EGmDChLSKhyV5Fr
      MyVUncHsbkUNXO3B97yl82V9xZ9h1Td2Hkqob97fRCc9Kl9CKvTN9U0ZUUAqintg
      W+ZuCuk+w2Gp31NdK1/kwtb3cQKBgQDW8xczTWEgr9SZD4Ujkuh+isk0dTQIfi0L
      Azqh5lsXrt2AgdQRZaydMiFW/0Gu8B+ttBJ4+6CgY8b57ou3tG/Umy5QSmcNjVd5
      znMo4pZNAP8nAtrcTMztlW/FBvmMhGR5mkeaLCwmCM178DOkYrQhGmrVqsL9tf2+
      xJddRnXluwKBgEhNJGhiE+HlLkK60rMXsLif/LeuWispb1FSYxmU97VAh4O9t+Yo
      w3RP7WNV4g+c1FtnKeGsD2RZKkPoID2hV3kXrMf6+GhcuLkqmP806rLcX9BYUKL7
      LzltC9VXQ2GRW1EYnEYqQdTzgtpIC7gyE4OaBgVTU1bAEUcjyPNiOFABAoGAJZi5
      WyDSt0vp7Ke5SuKcRd3ymXlSk5W2PTHgZIcNMdRFLAAJXs2g5pHpIPVewMGBWPmh
      LYYdr1AkcnzV9VjbIp3N+P86jTVGsqh4nhMb5PYiqukl7NiGE5xKw3SX24sgo+Bn
      W8EUK8boYiA+eCdHiG69dwf6OTRG4MI0E32Ki5cCgYEAtI9Op/DjJO96urWc2/R3
      vPijmTOCIwMcTy3WYIpvt7iCfNwf770DZ9AZlZ0/thF6+Hr5mW2p/1hx7ZlqgstW
      VA2AosnZWasxOA//jH0xZhoRVWgZnRcdk+y0bd64t+0imq6jNdxn509l8Dau43+4
      CEOWlPlnwaMCa3EA+M8woMg=
      -----END PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart