files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE REQUEST-----
      MIICgjCCAWoCAQAwPTELMAkGA1UEBhMCdXMxCzAJBgNVBAgMAndpMSEwHwYDVQQK
      DBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEBAQUAA4IB
      DwAwggEKAoIBAQCdthDK03mhXrl/fHx55VElI1dhK7Fft5cFSQoAmnu7aJKC9ZG/
      kr1HBl7J9pgPk8mhAJmjOSP/Zbff13ZBufhU9FoygkoK2yKNhsfzeKyDoRfzkVe/
      5zUMMZlhYlFlbjZ/CMVP5QEwR8W/6JlRRkigV9B9nPm1b2MiNk4LBiMOrgtqcbrE
      +mJtmJmqB8a/uMFD4kImabIhMWfBQUwgybMeOC4PwglcSiJ1WndLli68e7LfFY9e
      5goIzDjm9SbrBbCA/3dCOYXHez7OFS09JKFoS6/FE4UFc3DKwn/ezbclR+Lua+7c
      hSZS9Yr+1kaILj6NbgrOZWLvXD22HQK6OyE9AgMBAAGgADANBgkqhkiG9w0BAQsF
      AAOCAQEASuphASoVXuuZa9JhCyL0B5jVtUwFlFm9rtwzF6d6cRFHxYxdB3exrCMo
      3ylUMOqp8muSfGgN45cRkJdgBc2f6KECe2jDSCSgZyqJ/qPHvpg7+wzwt1IWl42S
      /LxwXLZRp81pXc/V9rkYqL+ouS7O0O1zDhTupLFnEwCppLU6qUReCcRa3MKM4nFU
      lZS4m94nedjctD3zxgJ8KZVjRG2ztRAaGRwCZnw6aidoWWybqvADWCvhZtjjHdgz
      R/FanfGDkWKOWFVWmNaR09Hrx75fjNQJKQcSpUgKlLksmmXW/WJevI4j5TBYhZi1
      eh/AQOd18psMms5Eqz7ltRDd0hpfIw==
      -----END CERTIFICATE REQUEST-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCdthDK03mhXrl/
      fHx55VElI1dhK7Fft5cFSQoAmnu7aJKC9ZG/kr1HBl7J9pgPk8mhAJmjOSP/Zbff
      13ZBufhU9FoygkoK2yKNhsfzeKyDoRfzkVe/5zUMMZlhYlFlbjZ/CMVP5QEwR8W/
      6JlRRkigV9B9nPm1b2MiNk4LBiMOrgtqcbrE+mJtmJmqB8a/uMFD4kImabIhMWfB
      QUwgybMeOC4PwglcSiJ1WndLli68e7LfFY9e5goIzDjm9SbrBbCA/3dCOYXHez7O
      FS09JKFoS6/FE4UFc3DKwn/ezbclR+Lua+7chSZS9Yr+1kaILj6NbgrOZWLvXD22
      HQK6OyE9AgMBAAECggEADwc7YGh4baUeHgTZw6/TZKuSdwL32vwemvVTy6zs33Xe
      iDYoVk4AVVVJEQu7f7iAfSQWf9RBFuQ1elIIxciX3liOg8OglJo/F6dhRFUac0yV
      gLM33mSEzI2pZPs+cGDpNn+6dZuH2nbsZBYhDfqZjxXvGxkrPlvH4Ym1NB24l3xd
      43I4MQ02gm0NQf6dSjG0G1wKMJk4g4qACL6OuTW0GrQ9qV7jDHkhKzrNVUmF1Sjm
      lTWUoNk5ucG4E1ca9KkrZvQcST6D8bbotenrVtN9qZqyhV6kVPpZbHzO/z6OF/c5
      fvx2wMHkwXWIp9rc+liZ2KFNslSgl/59ekRF9iiFTQKBgQDVPnMmHhIqGWb+RlcW
      0Yr0Sdk7k4evdWduJkAtQ266VTCiOBY8avq/aWXKUSKsAiXZ2kbSnysodVFb4rLG
      SVFUzsuzMek8bT3JcKSTi64Cgjjiec/H5ur3AuiQF9ydmXNJ4oD/F9DEryD4FOdH
      q55ruMbFKWy+2J0kAdTsccFIlwKBgQC9VTAS5g93124AmUXjq8/VNrLWGBe01eNT
      c6CFuaIU2T+cAnHxSdjkM0TgIjhaZ2r4NbSMsBOl5C0wWkE3sH9vFKVY2mAPoA6L
      lyHCx0dLg/aDAybPYGvtogvjETK3JGSBLht7lfJCbhOytVGMkKkRNlVF58a3AIZj
      VlYY45KrSwKBgQCCkyTrWEqDIN7iIKw/Orw9beLpCiNxmxBkcGOn07y/uF55VqK3
      CELWZnF/+0Kh1QbcaT4oxnIk6gGRpDUYGdkFd0NgTNWmvLWy3ZjJCCTbQGYYt8I1
      g/6olk1VvmbG0im4OkwG58xcQ2iKwDIGvt3Y1GJSZFVEX1uJqt14kwdprQKBgB1e
      d4SW91NJsaCaJgM5BZY3U+pt9k9w1kB9sSrNLt05DervXilloSVU5pw18rPjUu6J
      tiYUsheLm47ikTdIQ5xBgZyU003ZMChrGyuRqfeG0thjxsNoW5WTC3D/m/RYytZX
      BqBXFCtF0/xmr+20CuXGndeoKmT8ydvi6pwVwQydAoGAALo6masjtOsyrT7Cf4m1
      hfWEIh9rPqDUwtNvnOCAkAkUeB2hnBNZ6yaajDnIXiXQLMSpGBpzvYys0GP6E9YP
      xZuwdoNnqFmMKeOq01bZ/bWdjaNDuYSRHhxsiUcwBMu19r6/TY83mMPe5dbUJxAJ
      VwdYPDnf95y4YDslJSzNciw=
      -----END PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart